################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckingForms/build/classes/codegenerator
/AutoAdmin/
/autoservice/
/parking/
/GestiuneApp/
/parking2/
